---
import Layout from '../layouts/Layout.astro'
import Header from '../layouts/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import Content from '../layouts/Content.astro'
---

<Layout title='Paikube'>
  <Header />
  <main>
    <Sidebar />
    <Content />
  </main>
</Layout>
<script></script>
<style>
  main {
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
  }
</style>
