<div class='logo left'>
  <i id='menu' class='material-icons'>menu</i>
  <span>Paikube</span>
</div>
<style>
  .left {
    display: flex;
    align-items: center;
  }

  .left #menu {
    padding: 0 7px;
    cursor: pointer;
  }
</style>
