<div class='sidebar'>
  <div class='nav'>
    <a class='nav-link active'>
      <i class='material-icons'>home</i>
      <span>Home</span>
    </a>
    <a class='nav-link'>
      <i class='material-icons'>local_fire_department</i>
      <span>Trending</span>
    </a>
    <a class='nav-link'>
      <i class='material-icons'>subscriptions</i>
      <span>Subscriptions</span>
    </a>
    <a class='nav-link'>
      <i class='material-icons'>library_add_check</i>
      <span>Library</span>
    </a>
    <a class='nav-link'>
      <i class='material-icons'>history</i>
      <span>History</span>
    </a>
    <a class='nav-link'>
      <i class='material-icons'>play_arrow</i>
      <span>Your Videos</span>
    </a>
    <a class='nav-link'>
      <i class='material-icons'>watch_later</i>
      <span>Watch Later</span>
    </a>
    <a class='nav-link'>
      <i class='material-icons'>thumb_up</i>
      <span>Liked Videos</span>
    </a>
  </div>
  <hr />
</div>
<style>
  .side-bar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
  }
  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
  }

  .nav-link span {
    margin-left: 15px;
  }

  .nav-link:hover {
    background: #e5e5e5;
    cursor: pointer;
  }

  .active {
    background: #e5e5e5;
  }
  hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
  }
</style>
