---
import Logo from '../components/Logo.astro'
import Search from '../components/Search.astro'
import Menu from '../components/Menu.astro'
---

<div class='header'>
  <Logo />
  <Search />
  <Menu />
</div>
<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
</style>
